<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885264218854-p5tsiobsq6ulpj7ue2akvnabuk1qtkfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885264218854-p5tsiobsq6ulpj7ue2akvnabuk1qtkfn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>885264218854-2hevakoio74c9cgeaov0i8kbi5knhm0r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB556zO0kX0yeeXs6EED4AQX6YPu1P4nB8</string>
	<key>GCM_SENDER_ID</key>
	<string>885264218854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.bharathsevaashramsangha</string>
	<key>PROJECT_ID</key>
	<string>bssp-b7552</string>
	<key>STORAGE_BUCKET</key>
	<string>bssp-b7552.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885264218854:ios:c9554cfcd160e9e5aad927</string>
</dict>
</plist>